* {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "jost";
  src:
    url("/assets/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "dancing-script";
  src:
    url("/assets/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

body {
  font-family: "jost", sans-serif;
  color: white;
  font-size: 18px;
  background-color: #021f11;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 320px;
}

.sub-container {
  width: 100%;
  max-width: 1200px;
}

.sub-title {
  text-align: center;
  color: orange;
  font-family: 'dancing-script', sans-serif;
  padding: 4px 0;
}

.sub-title-paragraph {
  text-align: center;
  padding-bottom: 60px;
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  animation: shadow-header linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: "dancing-script", sans-serif;
      font-size: 28px;
      color: white;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 20px;

      li {
        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: orange;
          }
        }
      }

    }
  }
}

main {
  flex-direction: column;

  #inicio {
    padding-top: 60px;
    height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    #inicio-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      h1 {
        letter-spacing: 0.5px;
        font-size: xx-large;
        text-wrap: pretty;

        span {
          color: orange;
        }
      }

      #btn-inscribe {
        background-color: orange;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        max-width: 200px;
        border-radius: 2px;
        text-decoration: none;
        text-align: center;

        a {
          text-decoration: none;
          color: white;
        }

        &:hover {
          background-color: darkorange;
        }

        &:active {
          background-color: goldenrod;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;

        li {
          a {
            text-decoration: none;
          }

          #facebook {
            color: white;

            &:hover {
              color: dodgerblue;
            }
          }

          #instagram {
            color: white;

            &:hover {
              color: salmon;
            }
          }

          #twitter {
            color: white;

            &:hover {
              color: grey;
            }
          }
        }
      }
    }

    #inicio-right {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 5px;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    #inicio-blob {
      background-color: green;
      height: 350px;
      width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -40%);
      z-index: -1;
      opacity: 0.3;
      border-radius: 100%;
      filter: blur(64px);
    }
  }

  #eventos {
    padding-top: 60px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;

      div {
        display: flex;
        flex-direction: column;
        gap: 12px;

        img {
          border-radius: 5px;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        h3 {
          font-size: x-large;
        }

        small {
          color: lightgray;
        }

        p {
          a {
            color: darkorange;

            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }

  section {
    padding-top: 60px;
    height: 100vh;
  }
}

@media (width < 768px) {

  .sub-title-paragraph {
    padding-bottom: 30px;
  }

  header {
    animation: move-header linear both, shadow-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    nav {
      flex-direction: column;
      justify-content: space-evenly;

      span {
        font-size: 20px;
      }
    }
  }

  main {
    #inicio {
      height: auto;
      grid-template-columns: 1fr;
      padding-top: 80px;

      #inicio-left {
        flex-direction: column;
        gap: 15px
      }
    }

    #eventos {
      article {
        grid-template-columns: 1fr;
        gap: 20px;

        div {
          gap: 6px;
        }
      }
    }

    section {
      padding-top: 40px;
    }
  }
}

@media (500px < width < 768px) {
  main {
    #eventos {
      article {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

}

@keyframes move-header {
  to {
    transform: translateY(-28px);
  }
}

@keyframes shadow-header {
  to {
    background-color: #021f11e7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}