* {
  margin: 0;
}

@font-face {
  font-family: "jost";
  src:
    url("/assets/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "dancing-script";
  src:
    url("/assets/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

body {
  font-family: "jost", sans-serif;
  color: white;
  font-size: 18px;
  background-color: #021f11;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.sub-container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
}

header {
  height: 60px;
  position: sticky;
  top: 0;
  animation: shadow-header linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: "dancing-script", sans-serif;
      font-size: 28px;
      color: white;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 20px;

      li {
        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: orange;
          }
        }
      }

    }
  }
}

main {
  flex-direction: column;

  section {
    height: 100vh;
  }
}

@media (width < 768px) {
  header {
    animation: move-header linear both, shadow-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    nav {
      flex-direction: column;
      justify-content: space-evenly;

      span {
        font-size: 20px;
      }
    }
  }
}

@keyframes move-header {
  to {
    transform: translateY(-28px);
  }
}

@keyframes shadow-header {
  to {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}