:root{
  --text-primary: #000000;
  --text-darkgrey: #6c6c6c;
  --background-primary: #ecf5f1;
  --background-nav: #ecf5f1e1;
  --shadow-nav: rgba(126, 126, 126, 0.5);
  --blob-color: #90ee90;
  --bg-box-inscription: #a0d8bd;
  --bg-form-inscription: #ecf5f1da;
  --expo-out: linear(
    0 0%, 0.1684 2.66%, 0.3165 5.49%,
    0.446 8.52%, 0.5581 11.78%,
    0.6535 15.29%, 0.7341 19.11%,
    0.8011 23.3%, 0.8557 27.93%,
    0.8962 32.68%, 0.9283 38.01%,
    0.9529 44.08%, 0.9711 51.14%,
    0.9833 59.06%, 0.9915 68.74%, 1 100%
  ); 
}

.darkMode {
  --text-primary: #ffffff;
  --text-darkgrey: #d3d3d3;
  --background-primary: #021f11;
  --background-nav: #021f11e1;
  --shadow-nav: rgba(0, 87, 0, 0.5);
  --blob-color: #008000;
  --bg-box-inscription: #0f4229;
  --bg-form-inscription: #021f11ad;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "jost";
  src:
    url("/assets/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /* font-display: auto; */
}

@font-face {
  font-family: "dancing-script";
  src:
    url("/assets/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /* font-display: auto; */
}

body {
  font-family: "jost", sans-serif;
  color:var(--text-primary);
  font-size: 18px;
  background-color: var(--background-primary);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 320px;
}

.sub-container {
  width: 100%;
  max-width: 1200px;
}

.sub-title {
  text-align: center;
  color: orange;
  font-family: 'dancing-script', sans-serif;
  padding: 4px 0;
}

.sub-title-paragraph {
  text-align: center;
  padding-bottom: 60px;
}

.active {
  color: orange;
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  animation: shadow-header linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-family: "dancing-script", sans-serif;
      font-size: 28px;
      color: var(--text-primary);
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 20px;

      li {
        display: flex;
        a {
          text-decoration: none;
          color: var(--text-primary);

          &:hover {
            color: orange;
          }
        }
      }

    }
  }
}

main {
  flex-direction: column;

  #inicio {
    padding-top: 70px;
    height: 600px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    #inicio-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      h1 {
        letter-spacing: 0.5px;
        font-size: xx-large;
        text-wrap: pretty;

        span {
          color: orange;
        }
      }

      #btn-inscribe {
        background-color: orange;
        color: var(--text-primary);
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        max-width: 200px;
        border-radius: 2px;
        text-decoration: none;
        text-align: center;

        a {
          text-decoration: none;
          color: var(--text-primary);
        }

        &:hover {
          background-color: darkorange;
        }

        &:active {
          background-color: goldenrod;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;

        li {
          a {
            text-decoration: none;
          }
        }
      }
    }

    #inicio-right {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 5px;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    #inicio-blob {
      background-color: var(--blob-color);
      height: 350px;
      width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -40%);
      z-index: -1;
      opacity: 0.3;
      border-radius: 100%;
      filter: blur(64px);
    }
  }

  #eventos {
    padding: 70px 0;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;

      div {
        display: flex;
        flex-direction: column;
        gap: 12px;

        img {
          border-radius: 5px;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        h3 {
          font-size: x-large;
        }

        small {
          color: var(--text-darkgrey);
        }

        p {
          a {
            color: darkorange;

            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }

  #sobre-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 70px 0;
    position: relative;

    p {
      width: 100%;
      max-width: 750px;
    }

    #leaf {
      position: absolute;
      top: 35%;
      left: 12%;

      svg {
        stroke: olive;
        width: 30px;
        height: auto;
      }

      &::after {
        content: "";
        width: 300%;
        height: 200%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        position: absolute;
        background: var(--blob-color);
        filter: blur(70px);
        z-index: -1;
      }
    }

    #seeding {
      position: absolute;
      top: 35%;
      right: 12%;

      svg {
        stroke: olive;
        width: 30px;
        height: auto;
      }

      &::after {
        content: "";
        width: 300%;
        height: 200%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        position: absolute;
        background: var(--blob-color);
        border-radius: 100%;
        filter: blur(70px);
        z-index: -1;
      }
    }
  }
}

.icon-facebook {
  color: var(--text-primary);

  &:hover {
    color: dodgerblue;
  }
}

.icon-instagram {
  color: var(--text-primary);

  &:hover {
    color: salmon;
  }
}

.icon-twitter {
  color: var(--text-primary);

  &:hover {
    color: grey;
  }
}

#inscripciones {
  padding: 70px 0;
  margin: 70px 0;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 1;
  background-color: var(--bg-box-inscription);
  overflow: hidden;
  border-radius: 5px;

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;

    form {
      background-color: var(--bg-form-inscription);
      padding: 22px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 833px;
      width: 100%;

      h3 {
        max-width: 600px;

        span {
          color: orange;
        }
      }

      div {
        display: flex;
        gap: 10px;

        input {
          width: 100%;
          padding: 10px 12px;
          color: black;
          border: solid 2px darkolivegreen;
          border-radius: 6px;

          &:focus {
            outline: none;
            border: solid 3px olive;
          }
        }

        button {
          padding: 10px 18px;
          font-size: 18px;
          border: none;
          border-radius: 4px;
          background-color: darkolivegreen;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: olive;
          }

          &:active {
            background-color: olivedrab;
          }
        }
      }
    }
  }

  #plant-1 {
    position: absolute;
    width: 250px;
    top: 0;
    left: -50px;
    z-index: -1;
  }

  #plant-2 {
    position: absolute;
    width: 250px;
    bottom: -8px;
    right: 0;
    z-index: -1;
  }
}

#modal-subscription {
  display: none;
  position: fixed;
  z-index: 2;
  right: 16px;
  top: 18px;
  border-radius: 5px;
  padding: 16px;
  max-width: 350px;
  background-color: olivedrab;

  p {
    font-size: medium;
  }
}

.modal {
  animation: modal-animation ease-in-out;
  animation-duration: 1s;
}

#btnTheme {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
  
  #sun {
    display: none;
    stroke: var(--text-primary);
  }

  #moon {
    display: block;
    stroke: var(--text-primary);
  }
}

footer {
  display: flex;
  flex-direction: column;

  section:nth-of-type(1) {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    border-bottom: solid 1px olive;
    position: relative;
    overflow: hidden;

    #footer-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      p {
        font-weight: bold;
        color: orange;
      }

      ul:nth-of-type(1) {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      ul:nth-of-type(2) {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 8px;

        li {
          a {
            text-decoration: none;
          }
        }
      }
    }

    #footer-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      #container-clima {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        #box-clima {
          display: flex;
          flex-direction: column;

          #header-clima {
            #fecha {
              font-size: small;
            }

            #ciudad {
              font-size: medium;
              font-weight: bolder;
            }
          }

          #content-clima {
            display: flex;
            align-items: center;
            gap: 14px;

            #temperatura {
              font-size: x-large;
            }
          }

          #detalle-clima {
            p {
              font-size: smaller;
            }

            #clima {
              font-weight: bolder;
            }
          }
        }
      }
    }

    #footer-blob {
      background-color: var(--blob-color);
      height: 250px;
      width: 90%;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 150%);
      z-index: -1;
      opacity: 0.2;
      border-radius: 100%;
      filter: blur(64px);
    }
  }

  section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    overflow: hidden;
  }
}

@media (width > 1024px) {
  main {
    #sobre-nosotros {
      #leaf {
        top: 54%;
      }

      #seeding {
        top: 54%;
      }
    }
  }
}

@media (width < 768px) {

  .sub-title-paragraph {
    padding-bottom: 30px;
  }

  header {
    animation: move-header linear both, shadow-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    nav {
      flex-direction: column;
      justify-content: space-evenly;

      span {
        font-size: 20px;
      }
    }
  }

  main {
    #inicio {
      height: auto;
      grid-template-columns: 1fr;
      padding-top: 80px;

      #inicio-left {
        flex-direction: column;
        gap: 15px
      }
    }

    #eventos {
      padding-top: 60px;
      padding-bottom: 0;
      article {
        grid-template-columns: 1fr;
        gap: 20px;

        div {
          gap: 6px;
        }
      }
    }

    #sobre-nosotros {
      padding: 60px 0;
      #leaf {
        svg {
          width: 24px;
        }
      }

      #seeding {
        svg {
          width: 24px;
        }
      }
    }
  }

  #inscripciones {
    padding: 60px 0;
    margin: 0 0;
  }

  footer {
    section:nth-of-type(1) {
      padding: 60px 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      #footer-left {
        align-items: center;
        gap: 15px;
      }

      #footer-right {
        gap: 15px;

        #container-clima {
          flex-wrap: wrap;
          gap: 10px;

          #box-clima {
            align-items: center;
            text-align: center;
          }
        }
      }

      #footer-blob {
        width: 75%;
      }
    }
  }

}

@media (500px < width < 768px) {
  main {
    #eventos {
      article {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

}

@keyframes move-header {
  to {
    transform: translateY(-26px);
  }
}

@keyframes shadow-header {
  to {
    background-color: var(--background-nav);
    box-shadow: 0 0 10px var(--shadow-nav);
  }
}

@keyframes modal-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* animacion para modo dark y light */
::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}
      
::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.darkMode::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.darkMode::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}